body{
  background-image: url(https://i.pinimg.com/originals/f5/8c/27/f58c2783a597a11c5c1f4454e13e9d67.jpg);
}
main{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
table td , th ,tr{
  padding: 20px;
  border: 7px outset rgb(0, 0, 0);
}
table th{
   color: rgb(134, 96, 96);
   backdrop-filter: blur(4px) saturate(129%);
  -webkit-backdrop-filter: blur(4px) saturate(129%);
  background-color: rgba(45, 25, 25, 0.64);
  line-height: 50px;
  
}
table td{
  color: rgb(249, 239, 226);
   backdrop-filter: blur(4px) saturate(129%);
  -webkit-backdrop-filter: blur(4px) saturate(129%);
  background-color: rgba(45, 25, 25, 0.64);
}
table{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  border: 7px inset black;
  border-spacing: 0px;
}
